body
{
text-align:center;
background-color:rgb(79, 223, 79);
}
nav
{
    top: 0px;;
    border-color:coral;
    border-style:solid;
    background-color: navy;
    border-width:5px;
    position:sticky;
    height:115px;
}
nav a
{
    color:white;
}
.facility_mainDiv
{
    border:1px solid lightsalmon;
}
.facility_mainDiv img
{
    width:100%;
}
.facility_mainDiv h5, .travel_mainDiv p
{
margin:25px;
}
.extra-curricular-activities
{
    border-radius:10px;
    padding:6px 22px;
    border-radius:10px;
    margin-bottom:15px;
}
#main-menu
{
    font-size:25px;
}
#logo
{
    width:50px;
}